<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Arrivu Infotech - Flat and trendy bootstrap site template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- css -->
<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/bootstrap-responsive.css" rel="stylesheet" />
<link href="css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="css/jcarousel.css" rel="stylesheet" />
<link href="css/cslider.css" rel="stylesheet" />
<link href="css/flexslider.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />


<!-- Theme skin -->
<link id="t-colors" href="skins/green.css" rel="stylesheet" />
<!-- boxed bg -->

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- Fav and touch icons -->

</head>
<body style="background:#1b1b1b;">
<div id="wrapper">
<header>
	<div class="container ">
		<!-- hidden top area toggle link -->
		<!--<div id="header-hidden-link">
			<a href="#" class="toggle-link" title="Click me you'll get a surprise" data-target=".hidden-top"><i></i>Open</a>
		</div>
		
		<div class="row nomargin">
			<div class="span12">
				<div class="headnav">
					<ul>
						<li><a href="#mySignup" data-toggle="modal"><i class="icon-user"></i> Sign up</a></li>
						<li><a href="#mySignin" data-toggle="modal">Sign in</a></li>
					</ul>
				</div>
				
				<div id="mySignup" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySignupModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 id="mySignupModalLabel">Create an <strong>account</strong></h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="control-group">
								<label class="control-label" for="inputEmail">Email</label>
								<div class="controls">
									<input type="text" id="inputEmail" placeholder="Email">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputSignupPassword">Password</label>
								<div class="controls">
									<input type="password" id="inputSignupPassword" placeholder="Password">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputSignupPassword2">Confirm Password</label>
								<div class="controls">
									<input type="password" id="inputSignupPassword2" placeholder="Password">
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<button type="submit" class="btn">Sign up</button>
								</div>
								<p class="aligncenter margintop20">
									Already have an account? <a href="#mySignin" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Sign in</a>
								</p>
							</div>
						</form>
					</div>
				</div>
				
				<div id="mySignin" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySigninModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 id="mySigninModalLabel">Login to your <strong>account</strong></h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="control-group">
								<label class="control-label" for="inputText">Username</label>
								<div class="controls">
									<input type="text" id="inputText" placeholder="Username">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputSigninPassword">Password</label>
								<div class="controls">
									<input type="password" id="inputSigninPassword" placeholder="Password">
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<button type="submit" class="btn">Sign in</button>
								</div>
								<p class="aligncenter margintop20">
									Forgot password? <a href="#myReset" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Reset</a>
								</p>
							</div>
						</form>
					</div>
				</div>
				
				<div id="myReset" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="myResetModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 id="myResetModalLabel">Reset your <strong>password</strong></h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="control-group">
								<label class="control-label" for="inputResetEmail">Email</label>
								<div class="controls">
									<input type="text" id="inputResetEmail" placeholder="Email">
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<button type="submit" class="btn">Reset password</button>
								</div>
								<p class="aligncenter margintop20">
									We will send instructions on how to reset your password to your inbox
								</p>
							</div>
						</form>
					</div>
				</div>
				
			</div> 
	</div>-->
		<div class="row">
			<div class="span4">
				<div class="logo">
					<a href="index.html"><img src="img/logo3.png" alt="" class="logo" /></a>
				</div>
			</div>
			<div class="span8">
				<div class="navbar navbar-static-top">
					<div class="navigation">
						<nav>
						<ul class="nav topnav">
							<li class="dropdown ">
							<a href="pricingbox.html">Pricing </a>
								</li>
                                <li class="dropdown ">
							<a href="about.html">About</a>
								</li>
                                <li class="dropdown ">
							<a href="index.html">Enterprise</a>
								</li>
	
							<li>
							<a href="contact.html">Contact </a>
							</li>
						</ul>
						</nav>
					</div>
					<!-- end navigation -->
				</div>
			</div>
		</div>
	</div>
	</header>
	<!-- end header -->


	<section id="content" style="background: url('img/bodybg/bgnew.jpg');">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="row">
                <h2>FAQ'S</h2>
					<div class="accordion" id="accordion2">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
							1.Can I create unlimited number of courses in free account? </a>
						</div>
						<div id="collapseOne" class="accordion-body collapse in">
							<div class="accordion-inner">
								<p>
									 No you are not allowed to create unlimted courses in free account.
								</p>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
							2.Can I upgrade, downgrade, cancel whenever I want? </a>
						</div>
						<div id="collapseTwo" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>
									 Yes , you can upgrade, downgrade or  cancel your account whenever you like.
								</p>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
							3.Is video conferencing facilty available for free users? </a>
						</div>
						<div id="collapseThree" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>
								Yes, video conferencing facilty available for free users too. But with a bandwidth limit of 20 MB 						</p>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
							4.Is there any setup charges for using the LMS?</a>
						</div>
						<div id="collapseFour" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>
									 Yes, there is a setup fee for installing and making the lms available to use for you.
								</p>
							</div>
						</div>
					</div>
                    	
                    	<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
							5.What was the customisation charges for customising the LMS?</a>
						</div>
						<div id="collapseFive" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>
									Customisation charges varies according to our clients customisation request. Please contact our team at info@arrivusystems.com to know more.
								</p>
							</div>
						</div>
					</div>
                    	<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse6">
							6.Can I upload unlimited number of files?</a>
						</div>
						<div id="collapse6" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>
									No, you are not allowed to upload unlimited number of files. The file upload limit varies from 20 MB to 300 MB for small to premium accounts . For Enterprise accounts the file upload limit will be set according to your request.
								</p>
							</div>
						</div>
					</div>
                    	<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse7">
							7.Can I use my own presentations and documents?</a>
						</div>
						<div id="collapse7" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>
									 Yes, you are welcome to use your own presentations and documents.
								</p>
							</div>
						</div>
					</div>
                    	<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse8">
							8.Can I share content from tools like Scribd, Sharepoint, YouTube, Vimeo and Wikipedia?</a>
						</div>
						<div id="collapse8" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>
									 Yes, you can share content from tools like Scribd, Sharepoint, Youtube, Vimeo and Wikipedia.
								</p>
							</div>
						</div>
					</div>
                    	<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse9">
							9.Can I share courses with non-registered users?</a>
						</div>
						<div id="collapse9" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>
									 Yes, you can share course with non registered users. You can share course syllabus and details with unregistered users. 
								</p>
							</div>
						</div>
					</div>
                     	<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse10">
							10.Can I share courses with non-registered users?</a>
						</div>
						<div id="collapse10" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>
									 Yes, you can share course with non registered users. You can share course syllabus and details with unregistered users. 
								</p>
							</div>
						</div>
					</div>
                     	<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse11">
							11.Can I use my own logo and theme?</a>
						</div>
						<div id="collapse11" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>
									Yeah , you can use your own logo and theme 
								</p>
							</div>
						</div>
					</div>
                     	<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse12">
							12.Can I have my own domain?</a>
						</div>
						<div id="collapse12" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>
									 Yes, you are allowed to have your own domain. 
								</p>
							</div>
						</div>
					</div>
                     	<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse13">
							13.Can I import/export course files?</a>
						</div>
						<div id="collapse13" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>
								Yeah you can import and export course files.
								</p>
							</div>
						</div>
					</div>
                     	<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse14">
							14.Can I share course announcements and discussions in social media accounts?</a>
						</div>
						<div id="collapse14" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>
									 Yeah, you can share announcements and discussions in social media. 
								</p>
							</div>
						</div>
					</div>
                    	<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse15">
							15.Are we allowed for getting access to LMS source code?</a>
						</div>
						<div id="collapse15" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>
									 No, you dont have access to LMS source code. 
								</p>
							</div>
						</div>
					</div>
				</div>

				</div>
			</div>
		</div>
		<!-- divider -->
	
        </div>
		<!-- end divider -->
		<!-- Portfolio Projects -->
       </section>

			<footer>
	<div class="container">
		<div class="row">
			<div class="span3">
				<div class="widget">
					<h5 class="widgetheading">Browse pages</h5>
					<ul class="link-list">
				    <li><a href="about.html">About our company</a></li>
						<li><a href="services.html">Our services</a></li>
						<li><a href="team.html">Meet our team</a></li>
						<li><a href="portfolio.html">Explore our portfolio</a></li>
						<li><a href="contact.html">Get in touch with us</a></li>
					</ul>
				</div>
			</div>
			<div class="span3">
				<div class="widget">
					<h5 class="widgetheading">Important stuff</h5>
					<ul class="link-list">
				    <li><a href="#">Press release</a></li>
						<li><a href="#">Terms and conditions</a></li>
						<li><a href="#">Privacy policy</a></li>
						<li><a href="#">Career center</a></li>
						<li><a href="#">Flattern forum</a></li>
					</ul>
				</div>
			</div>
			<div class="span3">
				<div class="widget">
					<!--<h5 class="widgetheading">Flickr photostream</h5>
					<div class="flickr_badge">
						<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03"></script>
					</div>-->
					<div class="clear">
					</div>
				</div>
			</div>
			<div class="span3">
				<div class="widget">
					<h5 class="widgetheading">Get in touch with us</h5>
					<address>
			      <strong>Arrivu Infotech Private Limited</strong><br>
					 2/70 - 8, Anbu Nagar, Keelathachiarkulam, Therakalputhoor<br>
					 Nagercoil, 629901, Tamil Nadu, India </address>
					<p>
						<i class="icon-phone"></i> +91-4652-272643<br>
						<i class="icon-envelope-alt"></i> admin@arrivusystems.com
					</p>
				</div>
			</div>
		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="span6">
					<div class="copyright">
						<p>
							<span>&copy; Arrivu Systems 2013 All right reserved. Designed by</span>
						</p>
					</div>
				</div>
				<div class="span6">
					<ul class="social-network">
						<li><a href="https://facebook.com/arrivuapps" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-square"></i></a></li>
						<li><a href="https://twitter.com/arrivuapps" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-square"></i></a></li>
						<li><a href="htpps://linkedin.com/arrivuapps" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li>
						<li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-pinterest icon-square"></i></a></li>
						<li><a href="https://plus.google.com/arrivuapps" data-placement="bottom" title="Google plus"><i class="icon-google-plus icon-square"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</footer></div>
<a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jcarousel/jquery.jcarousel.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/google-code-prettify/prettify.js"></script>
<script src="js/portfolio/jquery.quicksand.js"></script>
<script src="js/portfolio/setting.js"></script>
<script src="js/tweet/jquery.tweet.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/jquery.nivo.slider.js"></script>
<script src="js/modernizr.custom.79639.js"></script>
<script src="js/jquery.ba-cond.min.js"></script>
<script src="js/jquery.slitslider.js"></script>
<script src="js/modernizr.custom.28468.js"></script>
<script src="js/jquery.cslider.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>
</body>
</html>
