<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Flattern - Flat and trendy bootstrap site template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- css -->
<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/bootstrap-responsive.css" rel="stylesheet" />
<link href="css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="css/jcarousel.css" rel="stylesheet" />
<link href="css/flexslider.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<!-- Theme skin -->
<link href="skins/green.css" rel="stylesheet" />
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- Fav and touch icons -->
<link rel="shortcut icon" href="ico/favicon.png" />
<style>
.table th, .table td
{
	padding: 8px;
line-height: 35px;
text-align: center;
vertical-align: top;
border-top: 2px solid #dddddd;
width:200px;
}
.table th
{
	font-size:18px;
}
</style>
</head>
<body>
<div id="wrapper">
	<!-- toggle top area -->
	<!-- toggle top area -->
	<!--<div class="hidden-top">
		<div class="hidden-top-inner container">
			<div class="row">
				<div class="span12">
					<ul>
						<li><strong>We are available for any custom works this month</strong></li>
						<li>Main office: Springville center X264, Park Ave S.01</li>
						<li>Call us <i class="icon-phone"></i> (123) 456-7890 - (123) 555-7891</li>
					</ul>
				</div>
			</div>
		</div>
	</div>-->
	<!-- end toggle top area -->
	<!-- start header -->
	<header>
	<div class="container ">
		<!-- hidden top area toggle link -->
		<!--<div id="header-hidden-link">
			<a href="#" class="toggle-link" title="Click me you'll get a surprise" data-target=".hidden-top"><i></i>Open</a>
		</div>
		
		<div class="row nomargin">
			<div class="span12">
				<div class="headnav">
					<ul>
						<li><a href="#mySignup" data-toggle="modal"><i class="icon-user"></i> Sign up</a></li>
						<li><a href="#mySignin" data-toggle="modal">Sign in</a></li>
					</ul>
				</div>
				
				<div id="mySignup" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySignupModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 id="mySignupModalLabel">Create an <strong>account</strong></h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="control-group">
								<label class="control-label" for="inputEmail">Email</label>
								<div class="controls">
									<input type="text" id="inputEmail" placeholder="Email">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputSignupPassword">Password</label>
								<div class="controls">
									<input type="password" id="inputSignupPassword" placeholder="Password">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputSignupPassword2">Confirm Password</label>
								<div class="controls">
									<input type="password" id="inputSignupPassword2" placeholder="Password">
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<button type="submit" class="btn">Sign up</button>
								</div>
								<p class="aligncenter margintop20">
									Already have an account? <a href="#mySignin" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Sign in</a>
								</p>
							</div>
						</form>
					</div>
				</div>
				
				<div id="mySignin" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySigninModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 id="mySigninModalLabel">Login to your <strong>account</strong></h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="control-group">
								<label class="control-label" for="inputText">Username</label>
								<div class="controls">
									<input type="text" id="inputText" placeholder="Username">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputSigninPassword">Password</label>
								<div class="controls">
									<input type="password" id="inputSigninPassword" placeholder="Password">
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<button type="submit" class="btn">Sign in</button>
								</div>
								<p class="aligncenter margintop20">
									Forgot password? <a href="#myReset" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Reset</a>
								</p>
							</div>
						</form>
					</div>
				</div>
				
				<div id="myReset" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="myResetModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 id="myResetModalLabel">Reset your <strong>password</strong></h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="control-group">
								<label class="control-label" for="inputResetEmail">Email</label>
								<div class="controls">
									<input type="text" id="inputResetEmail" placeholder="Email">
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<button type="submit" class="btn">Reset password</button>
								</div>
								<p class="aligncenter margintop20">
									We will send instructions on how to reset your password to your inbox
								</p>
							</div>
						</form>
					</div>
				</div>
				
			</div> 
	</div>-->
		<div class="row">
			<div class="span4">
				<div class="logo">
					<a href="index.html"><img src="img/logo3.png" alt="" class="logo" /></a>
				</div>
			</div>
			<div class="span8">
				<div class="navbar navbar-static-top">
					<div class="navigation">
						<nav>
							<ul class="nav topnav">
							<li class="dropdown ">
							<a href="pricingbox.html">Pricing </a>
								</li>
                                <li class="dropdown ">
							<a href="about.html">About</a>
								</li>
                                <li class="dropdown ">
							<a href="index.html">Enterprise</a>
								</li>
	
							<li>
							<a href="contact.html">Contact </a>
							</li>
						</ul>
						</nav>
					</div>
					<!-- end navigation -->
				</div>
			</div>
		</div>
	</div>
	</header>
	<!-- end header -->
<!--	<section id="inner-headline" style="margin-top:50px;">
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="inner-heading">
					<h2>Pricing boxes</h2>
				</div>
			</div>
			<div class="span8">
				<ul class="breadcrumb">
					<li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
					<li><a href="#">Pages</a><i class="icon-angle-right"></i></li>
					<li class="active">Pricing boxes</li>
				</ul>
			</div>
		</div>
	</div>
	</section>-->
	<section id="content">
	<div class="container">
		<div class="row">
		
			<div class="span3" >
				<div class="pricing-box-alt">
					<div class="pricing-heading">
						<h3> <strong>Free</strong></h3>
					</div>
					<div class="pricing-terms">
						<h6><img src="img/rs.png" width="12" height="12">0.00 / User</h6>
					</div>
					<div class="pricing-content">
						<ul>
							<li><i class="icon-ok"></i> Up to 10 users</li>
                            <li><i class="icon-ok"></i> Up to 2 courses</li>
                            <li><i class="icon-ok"></i> 20 MB per file upload limit</li>
							<li><i class="icon-ok"></i> Public Forum</li>
							<li><i class="icon-ok"></i> No hidden fees</li>
							 
							
						</ul>
					</div>
					 
				</div>
			</div>
			<div class="span3"  >
				<div class="pricing-box-alt">
					<div class="pricing-heading">
						<h3> <strong>Small</strong></h3>
					</div>
					<div class="pricing-terms">
						<h6><img src="img/rs.png" width="12" height="12">180.00 / User</h6>
					</div>
					<div class="pricing-content">
						<ul>
							<li><i class="icon-ok"></i> Up to 50 users</li>
                            <li><i class="icon-ok"></i>10 courses</li>
                            <li><i class="icon-ok"></i> 100 MB per file upload limit</li>
							<li><i class="icon-ok"></i> Email support </li>
							<li><i class="icon-ok"></i> No hidden fees</li>
							 
						</ul>
					</div>
					 
				</div>
			</div>
			<div class="span3"  >
				<div class="pricing-box-alt special">
					<div class="pricing-heading">
						<h3><strong>Basic</strong></h3>
					</div>
					<div class="pricing-terms">
						<h6><img src="img/rs.png" width="12" height="12">149.00 / User</h6>
					</div>
					<div class="pricing-content">
						<ul>
							<li><i class="icon-ok"></i> Up to 100 users</li>
                            <li><i class="icon-ok"></i> Unlimited courses</li>
                            <li><i class="icon-ok"></i> 300 MB per file upload limit</li>
							<li><i class="icon-ok"></i> Email& 3 phone calls support</li>
							<li><i class="icon-ok"></i> No hidden fees</li>
							 
						</ul>
					</div>
					 
				</div>
			</div>
		
		
		
			<div class="span3"  >
				<div class="pricing-box-alt">
					<div class="pricing-heading">
						<h3><strong>Plus</strong></h3>
					</div>
					<div class="pricing-terms">
						<h6><img src="img/rs.png" width="12" height="12">129.00 / User</h6>
					</div>
					<div class="pricing-content">
						<ul>
							<li><i class="icon-ok"></i> Up to 500 users</li>
                            <li><i class="icon-ok"></i> Unlimited courses</li>
                            <li><i class="icon-ok"></i> 500 MB per file upload limit</li>
							<li><i class="icon-ok"></i> 24x7 support available</li>
							<li><i class="icon-ok"></i> No hidden fees</li>
							 
						</ul>
					</div>
					 
				</div>
			</div>

		</div>
        
        <div class="row">
			<div class="span12" style="text-align:center;">
        
						<a href="#feature-list-web" onClick="javascript:showDiv();" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> See Popular Features</a>
					
              
						<a href="#" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> Start Free Trail</a>
					</div>
                   		</div>
		<!-- divider -->
		<div class="row">
			<div class="span12">
				<div class="solidline">
				</div>
			</div>
		</div>
        
        
		<!-- end divider -->
        <div id="table" style="display:none;">
		<table class="table table-striped table-bordered" id="feature-list-web" style="box-shadow: 0px 5px 25px 0px #333;">
				<thead>
				<tr>
				<th>Features</th><th>Free</th><th>Small</th><th>Basic</th><th>Plus</th>
				</tr>
				</thead>
				<tbody>
				<tr><td style="text-align: left;">User Accounts</td><td>10</td><td>50</td><td>100</td><td>500</td></tr>
                <tr><td  style="text-align: left;">No of Courses</td><td>2</td><td>10</td><td>unlimited</td><td>unlimited</td></tr>
                <tr><td style="text-align: left;">Course File Upload</td><td>20MB</td><td>100MB</td><td>500MB</td><td>unlimited*</td></tr>
                <tr><td style="text-align: left;" >Conversations</td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td></tr>
                <tr><td style="text-align: left;">Disscusion Forums</td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td></tr>
                <tr><td style="text-align: left;">Assignments and Quizzes</td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td></tr>
                <tr><td style="text-align: left;">Rubrics</td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td></tr>
                <tr><td style="text-align: left;">Grading</td><td><i class="icon-remove"></i></td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td></tr>
                <tr><td style="text-align: left;">Learning Outcomes</td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td></tr>
                <tr><td style="text-align: left;">E-portfolio</td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td></tr>
                <tr><td style="text-align: left;">Chat</td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td></tr>
                <tr><td style="text-align: left;">Multimedia File Upload Limit</td><td>1GB</td><td>5GB</td><td>10GB</td><td>25GB</td></tr>
                <tr><td style="text-align: left;">Secure Video/Audio Streaming</td><td>5GB</td><td>25GB</td><td>50GB</td><td>250GB</td></tr>
                <tr><td style="text-align: left;">Video Conferencing</td><td>1/week</td><td>4/week</td><td>Unlimited @ 1/25 participants</td><td>Unlimited*</td></tr>
                <tr><td style="text-align: left;">Support</td><td>Public Forum</td><td>Email</td><td>Email & 3 phone Calls</td><td>24x7 </td></tr>
                <tr><td style="text-align: left;">Your Own Domain</td><td><i class="icon-remove"></i></td><td><i class="icon-ok"></i>*</td><td><i class="icon-ok"></i>*</td><td><i class="icon-ok"></i></td></tr>
                <tr><td style="text-align: left;">Customization</td><td><i class="icon-remove"></i></td><td><i class="icon-remove"></i></td><td><i class="icon-remove"></i></td><td><i class="icon-ok"></i>*</td></tr>
               
				</tbody>
				</table>
                <a href="#feature-list-web" onClick="javascript:hideDiv();" class="btn btn-medium btn-theme" style="float:right;"><i class="icon-bolt"></i>Close</a>
                </div>
                <script>
				function showDiv() {
    div = document.getElementById('table');
    div.style.display = "block";
	
}
				function hideDiv() {
    div = document.getElementById('table');
    div.style.display = "none";
	
}
				</script>
	</section>
    	<section class="callaction" style="background:#333;">
        
	<div class="container">
		<div class="row">
			<div class="span12">
            
				<div class="big-cta">
					<div class="cta-text">
						<h3 style="color:#fff;">Request a quote for <span class="highlight"><strong>more than 500 </strong></span> users</h3>
					</div>
                    
					<div class="cta floatright">
						<a class="btn btn-large btn-theme btn-rounded" href="contact.html" style="margin-right: 350px;">Contact Us</a>
					</div>
                  
				</div>
			</div>
		</div>
	</div>
	</section>
		<footer>
	<div class="container">
		<div class="row">
			<div class="span3">
				<div class="widget">
					<h5 class="widgetheading">Browse pages</h5>
					<ul class="link-list">
				    <li><a href="about.html">About our company</a></li>
						<li><a href="services.html">Our services</a></li>
						<li><a href="team.html">Meet our team</a></li>
						<li><a href="portfolio.html">Explore our portfolio</a></li>
						<li><a href="contact.html">Get in touch with us</a></li>
					</ul>
				</div>
			</div>
			<div class="span3">
				<div class="widget">
					<h5 class="widgetheading">Important stuff</h5>
					<ul class="link-list">
				    <li><a href="#">Press release</a></li>
						<li><a href="#">Terms and conditions</a></li>
						<li><a href="#">Privacy policy</a></li>
						<li><a href="#">Career center</a></li>
						<li><a href="#">Flattern forum</a></li>
					</ul>
				</div>
			</div>
			<div class="span3">
				<div class="widget">
					<!--<h5 class="widgetheading">Flickr photostream</h5>
					<div class="flickr_badge">
						<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03"></script>
					</div>-->
					<div class="clear">
					</div>
				</div>
			</div>
			<div class="span3">
				<div class="widget">
					<h5 class="widgetheading">Get in touch with us</h5>
					<address>
			      <strong>Arrivu Infotech Private Limited</strong><br>
					 2/70 - 8, Anbu Nagar, Keelathachiarkulam, Therakalputhoor<br>
					 Nagercoil, 629901, Tamil Nadu, India </address>
					<p>
						<i class="icon-phone"></i> +91-4652-272643<br>
						<i class="icon-envelope-alt"></i> admin@arrivusystems.com
					</p>
				</div>
			</div>
		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="span6">
					<div class="copyright">
						<p>
							<span>&copy; Arrivu Systems 2013 All right reserved. Designed by</span>
						</p>
					</div>
				</div>
				<div class="span6">
					<ul class="social-network">
						<li><a href="https://facebook.com/arrivuapps" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-square"></i></a></li>
						<li><a href="https://twitter.com/arrivuapps" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-square"></i></a></li>
						<li><a href="htpps://linkedin.com/arrivuapps" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li>
						<li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-pinterest icon-square"></i></a></li>
						<li><a href="https://plus.google.com/arrivuapps" data-placement="bottom" title="Google plus"><i class="icon-google-plus icon-square"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</footer></div>
<a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jcarousel/jquery.jcarousel.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/google-code-prettify/prettify.js"></script>
<script src="js/portfolio/jquery.quicksand.js"></script>
<script src="js/portfolio/setting.js"></script>
<script src="js/tweet/jquery.tweet.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/jquery.nivo.slider.js"></script>
<script src="js/modernizr.custom.79639.js"></script>
<script src="js/jquery.ba-cond.min.js"></script>
<script src="js/jquery.slitslider.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>
</body>
</html>